.course {
  background-image: url("../img/course-bac.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px 0;
  //   background-color: rgba(0, 0, 0, 0.8);
  //   margin: 56px 0 0 56px;
  //   &::before {
  //     content: "";
  //     top: 0;
  //     left: 0;
  //     height: 100%;
  //     width: 100%;
  //   }
  //   &--top {
  //     &::before {
  //         content: "";
  //         top: 0;
  //         left: 0;
  //         height: 100%;
  //         width: 100%;
  //       }
  //   }

  // .course__inner

  &__inner {
    background-image: url("../img/phone.png");
    background-position: 120% 10%;
    background-size: 50%;
    background-repeat: no-repeat;
  }

  // .course__title

  &__title {
    color: #fff;
    padding-bottom: 40px;
  }

  // .course__text

  &__text p {
    word-spacing: 2px;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 13px;
    line-height: 1.543;
    color: #fff;
    margin-bottom: 20px;
  }
}
.text__bold {
  font-family: "Montserrat-Bold", sans-serif;
}
.text__semibold {
  font-family: "Montserrat-SemiBold", sans-serif;
}
.course-wrapp {
  max-width: 510px;
  padding: 60px 0;
}
.orege {
  color: #ffc001;
}
.course-must {
}
.must {
  display: flex;
  // .must__img

  &__img {
    &--img {
      width: 85px;
      height: 85px;
    }
  }

  // .must__text

  &__text {
    padding-left: 40px;
  }

  // .must__title

  &__title {
    max-width: 380px;
    padding-top: 30px;
    font-size: 17px;
    font-family: "Montserrat-Bold", sans-serif;
  }

  // .must__subtitle

  &__subtitle {
    font-size: 12.5px;
    font-family: "Montserrat-Regular", sans-serif;
    margin: 10px 0;
  }
}
.course-cash {
}
.cash {
  max-width: 760px;
  text-align: center;
  margin: 0 auto;
  // .cash__text

  &__text {
    padding: 80px 0;
  }

  // .cash__title

  &__title {
    color: #fff;
    font-family: "Montserrat-Bold", sans-serif;
    line-height: 1.639;
  }

  // .cash__subtitle

  &__subtitle {
    max-width: 450px;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 12px;
    font-family: "Montserrat-Regular", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.639;
  }
}
.cash-btn {
}
