.footer {
  max-height: 80px;
  padding: 20px 0;
  background-color: #f3f3f3;
}
.law-inner {
  text-align: center;
  color: #d2d2d2;
  font-size: 14px;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
}
.law-link {
  padding-top: 8px;
}
.law-link a {
  text-align: center;
  color: #959595;
}
