.footer {
  background-color: #000000;
}
.container {
}
.footer-inner {
  display: flex;
  justify-content: space-between;
  padding: 35px 0 40px 0;
}
.footer-menu {
  display: flex;

  // .footer-menu__img

  &__img {
  }

  // .footer-menu__list

  &__list {
    display: flex;
    align-items: center;
  }

  // .footer-menu__item

  &__item {
    display: flex;
    flex-direction: column;
  }

  // .footer-menu__link

  &__link {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 10px;
    line-height: 3;
    color: #fff;
  }
}
.footer-menu__link:hover,
.footer-menu__link:focus,
.footer-menu__link:active {
  color: #f3c619;
}
.footer-support {
  display: flex;
  align-items: center;
}
.support {
  text-align: right;
  color: #fff;
  // .support__email

  &__email {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 10px;
    color: #fff;
  }
}
.footer-email {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 10px;
  color: #fff;
}
.support-cop {
  line-height: 2.5;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 8.5px;
  color: #474a4f;
}
