.page-header {
  position: relative;
  background-image: url("../img/header-bac.png");
  background-size: cover;
  background-repeat: no-repeat;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   width: 50%;
  //   height: 90%;
  //   background-image: url("../img/lengs.png");
  //   background-position: center;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   z-index: 2;
  // }
  &__img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-35%);
    width: 70%;
    margin: 0 auto;
  }
}
.page-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: $font-fem;

  .logo {
    max-width: 340px;
    margin-top: 40px;

    &-img {
      padding-bottom: 5px;
      & img {
        max-height: 80px;
      }
    }
  }
}
.main-nav {
  margin-right: -12px;
}
.btn-nav {
  height: 35px;
  min-width: 163px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  font-weight: 500;
  background-color: transparent;
  color: $header_col;
}
// #menu__toggle {
//   opacity: 0;
// }

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  background-color: transparent;
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
  background-color: #dedddd;
  border: none;
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: #dedddd;
  border: none;
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  right: 5px;
  top: 12px;
  width: 40px;
  height: 30px;
  color: #000000;
  cursor: pointer;
  z-index: 100;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 5px;
  top: 12px;
  right: 0px;
  background-color: #000000;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  width: 40px;

  top: 12px;
}
.menu__btn > span::after {
  content: "";
  width: 40px;

  top: -12px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 140px 5% 80px 0;
  list-style: none;
  z-index: 99;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.04em;

  background: #fef9f6;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 0px 24px;
  color: #454545;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.04em;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  color: #f4b393;
}

.main-nav__item--active > .main-nav__link {
  color: $header_col;
}
.sticky .main-nav__link {
  color: $header_col;
}

.logo {
  display: block;
}

.logo__link {
  white-space: nowrap;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}

.logo__caption {
  max-width: 310px;
}
.menu__li--active {
}
@media (min-width: 480px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1686px) {
}

@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 479px) {
}
