.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.modal-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.modal-wrapp {
  position: relative;
  display: block;
  width: calc(100% - 40px);
  max-width: 480px;
  max-height: 480px;
  margin: 0 auto;
  z-index: 5;
  background-color: #fff;
}
.modal-content {
  // .modal-content__img

  &__img {
    display: flex;
    justify-content: center;
    margin-top: -32px;
  }

  // .modal-content__img--img

  &__img--img {
    width: 65px;
    height: 65px;
  }
}
.modal-uptitle {
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 12px;
}
.modal-title {
  text-align: center;
  font-family: "Montserrat-ExtraBold", sans-serif;
  font-size: 21px;
}
.modal-iput {
  display: flex;
  justify-content: center;
}
.input {
  width: 100%;

  max-width: 200px;

  background-color: #f2fbfb;
  color: #b7baba;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 12px;
  line-height: 3;
  border-radius: 6px;
  outline: none;
  border: none;
}
.email {
  // .email_input

  &_input {
    margin-right: 10px;
  }
}
.teleg {
  // .teleg_input

  &_input {
  }
}
.modal-text {
  // .modal-text_2

  &_2 {
  }

  // .modal-text__title

  &__title {
    text-transform: uppercase;
    max-width: 480px;
  }
}
.text-bold {
}
.modal-bank {
}
.modal-card {
  // .modal-card__img

  &__img {
  }

  // .modal-card__img--img

  &__img--img {
    width: 40px;
    height: 40px;
  }

  // .modal-card__text

  &__text {
  }

  // .modal-card__title

  &__title {
  }
}
.btn {
  // .btn__body-wrapp

  &__body-wrapp {
  }

  // .btn__body

  &__body {
  }

  // .btn__text

  &__text {
  }
}
.btn-modal {
}
.modal-btn {
}
.btn-modal--back {
}
.modal-hard {
}
.modal-hidden {
}
.modal-active {
  display: block;
}
