.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.modal-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.modal-wrapp {
  position: relative;
  display: block;
  max-height: 480px;
  width: calc(100% - 40px);
  max-width: 380px;
  margin: 0 auto;
  z-index: 5;
  background-color: #fff;
}
.modal-content {
  // .modal-content__img

  &__img {
  }

  // .modal-content__img--img

  &__img--img {
  }
}
.modal-uptitle {
}
.modal-title {
}
.modal-iput {
}
.input {
}
.email {
  // .email_input

  &_input {
  }
}
.teleg {
  // .teleg_input

  &_input {
  }
}
.modal-text {
  // .modal-text_2

  &_2 {
  }

  // .modal-text__title

  &__title {
  }
}
.text-bold {
}
.modal-bank {
}
.modal-card {
  // .modal-card__img

  &__img {
  }

  // .modal-card__img--img

  &__img--img {
  }

  // .modal-card__text

  &__text {
  }

  // .modal-card__title

  &__title {
  }
}
.btn {
  // .btn__body-wrapp

  &__body-wrapp {
  }

  // .btn__body

  &__body {
  }

  // .btn__text

  &__text {
  }
}
.btn-modal {
}
.modal-btn {
}
.btn-modal--back {
}
.modal-hard {
}
.modal-hidden {
}
.modal-active {
  display: block;
}
