.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.654);
}
.modal-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.modal-wrapp {
  position: relative;
  display: block;
  width: calc(100% - 40px);
  max-width: 480px;
  max-height: 520px;
  margin: 0 auto;
  z-index: 5;
  background-color: #fff;
}
.modal-content {
  position: relative;
  padding: 0 40px;
  // .modal-content__img

  &__img {
    display: flex;
    justify-content: center;
    margin-top: -32px;
  }

  // .modal-content__img--img

  &__img--img {
    width: 65px;
    height: 65px;
  }
}
.modal-uptitle {
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 12px;
}
.modal-title {
  padding: 5px 0 15px 0;
  text-align: center;
  font-family: "Montserrat-ExtraBold", sans-serif;
  font-size: 21px;
}
.modal-input {
  display: flex;
  justify-content: center;
}
.input {
  width: 100%;

  max-width: 200px;

  background-color: #f2fbfb;
  color: #b7baba;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 12px;
  line-height: 3;
  border-radius: 6px;
  outline: none;
  border: none;
}
.email {
  // .email_input

  &_input {
    margin-right: 10px;
  }
}
.teleg {
  // .teleg_input

  &_input {
  }
}
.modal-text {
  // .modal-text_2

  max-width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 11px;

  &_2 {
    margin: 20px 0;
    text-align: center;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 11px;
  }

  // .modal-text__title

  &__title {
    text-align: center;
    font-family: "Montserrat-Medium", sans-serif;
    font-size: 7px;
    text-transform: uppercase;
  }
}
.text-bold {
  font-family: "Montserrat-Bold", sans-serif;
}
.modal-bank {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2fbfb;
}
.modal__item {
  width: 33%;
}
.modal-card {
  display: flex;
  padding: 20px 5px;
  // .modal-card__img

  &__img {
    padding-right: 5px;
  }

  // .modal-card__img--img

  &__img--img {
    width: 30px;
    height: 30px;
  }

  // .modal-card__text

  &__text {
    text-align: left;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 8.5px;
  }

  // .modal-card__title

  &__title {
    text-align: left;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 8.5px;
    padding-bottom: 8px;
  }
}
.modal-btn_wrapp {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn-email {
  width: 135px;
  height: 35px;

  background-color: #f7c70d;
  padding: 0;
  outline: none;
  border: none;
  & .btn__body {
    padding: 0;
    & .btn__text {
      text-align: center;
      font-family: "Montserrat-Regular", sans-serif;
      font-size: 11px;
    }
  }
}
.modal-hard {
  padding-top: 15px;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 8px;
  color: #c2c2c2;
}
.modal-hidden {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  right: 20px;
  width: fit-content;
  height: 20px;
  font-size: 32px;
  cursor: pointer;
  border: 1px solid transparent;
}
.modal-hidden:hover,
.modal-hidden:focus,
.modal-hidden:active {
  border: 1px solid #b7baba;
}
.modal-active {
  display: block;
}
@media (max-width: 479px) {
  .modal-content {
    padding: 0 20px;
  }
  .modal-input {
    flex-wrap: wrap;
  }
  .input {
    margin-bottom: 10px;
    flex-basis: 100%;
    min-width: 150px;
  }
  .modal__item {
    width: 49%;
  }
  .modal-wrapp {
    max-height: 630px;
  }
}
@media (max-width: 389px) {
  .modal__item {
    width: 100%;
  }
  .modal-wrapp {
    max-height: inherit;
  }
}
