@font-face {
  font-family: "BebasNeueBold";
  src: url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue-Bold";
  font-style: normal;
  src: local("BebasNeue Bold"), local("BebasNeue-Bold"), url("../fonts/BebasNeueBold.otf") format("otf"), url("../fonts/BebasNeueBold.ttf") format("ttf");
}

@font-face {
  font-family: "BebasNeue-Book";
  font-style: normal;
  src: local("BebasNeue-Book"), local("BebasNeue-Book"), url("../fonts/BebasNeue Book.otf") format("otf"), url("../fonts/BebasNeue Book.ttf") format("ttf");
}

@font-face {
  font-family: "BebasNeue-Light";
  font-style: normal;
  src: local("BebasNeue-Light"), local("BebasNeue-Light"), url("../fonts/BebasNeue Light.otf") format("otf"), url("../fonts/BebasNeue Light.ttf") format("ttf");
}

@font-face {
  font-family: "BebasNeue-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("BebasNeue-Regular"), local("BebasNeue-Regular"), url("../fonts/ofont.ru_Bebas Neue.ttf") format("ttf");
}

@font-face {
  font-family: "BebasNeue-Thin";
  font-weight: 100;
  font-style: normal;
  src: local("BebasNeue-Thin"), local("BebasNeue-Thin"), url("../fonts/BebasNeue Thin.otf") format("otf"), url("../fonts/BebasNeue Thin.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr-Black";
  font-weight: 900;
  font-style: normal;
  src: local("HelveticaNeueCyr-Black"), url("../fonts/HelveticaNeueCyr-Black.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr-BlackItalic";
  font-weight: 900;
  font-style: italic;
  src: local("HelveticaNeueCyr-BlackItalic"), url("../fonts/HelveticaNeueCyr-BlackItalic.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  font-weight: 700;
  font-style: normal;
  src: local("HelveticaNeueCyr-Bold"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr-BoldItalic";
  font-weight: italic;
  font-style: italic;
  src: local("HelveticaNeueCyr-BoldItalic"), url("../fonts/HelveticaNeueCyr-BoldItalic.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr-Italic";
  font-weight: 400;
  font-style: italic;
  src: local("HelveticaNeueCyr-Italic"), url("../fonts/HelveticaNeueCyr-Italic.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr-Light";
  font-weight: 300;
  font-style: normal;
  src: local("HelveticaNeueCyr-Light"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr-LightItalic";
  font-weight: 300;
  font-style: italic;
  src: local("HelveticaNeueCyr-LightItalic"), url("../fonts/HelveticaNeueCyr-LightItalic.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr-Medium";
  font-weight: 500;
  font-style: normal;
  src: local("HelveticaNeueCyr-Medium"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  font-style: normal;
  src: local("HelveticaNeueCyr-Roman"), url("../fonts/helveticaneuecyr-roman.otf") format("otf");
  src: url("../fonts/helveticaneuecyr-roman.woff") format("woff"), url("../fonts/helveticaneuecyr-roman.woff2") format("woff2");
  /* Modern Browsers */
}

@font-face {
  font-family: "HelveticaNeueCyr-Thin";
  font-weight: 100;
  font-style: normal;
  src: local("HelveticaNeueCyr-Thin"), url("../fonts/HelveticaNeueCyr-Thin.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr-ThinItalic";
  font-weight: 100;
  font-style: italic;
  src: local("HelveticaNeueCyr-ThinItalic"), url("../fonts/HelveticaNeueCyr-ThinItalic.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr-UltraLight";
  font-weight: 200;
  font-style: normal;
  src: local("HelveticaNeueCyr-UltraLight"), url("../fonts/HelveticaNeueCyr-UltraLight.ttf") format("ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr-UltraLightItalic";
  font-weight: 200;
  font-style: italic;
  src: local("HelveticaNeueCyr-UltraLightItalic"), url("../fonts/HelveticaNeueCyr-UltraLightItalic.ttf") format("ttf");
}

body {
  width: 100%;
  margin: 0;
  color: #000000;
  overflow-x: hidden;
}

main {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  font-size: 28px;
  line-height: 42px;
  margin: 0;
}

h2 {
  font-size: 35px;
  margin: 0;
  text-transform: uppercase;
  font-family: "BebasNeueBold", sans-serif;
}

h3 {
  font-size: 19px;
  line-height: 27px;
  margin: 0;
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
}

h4 {
  margin: 0;
}

img {
  width: 100%;
}

a {
  margin: 0;
  text-decoration: none;
}

ul {
  margin: 0;
  list-style-type: none;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

.page__inner {
  max-width: 500px;
  margin: 0 auto;
}

.container {
  display: block;
  width: calc(100% - 40px);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  position: relative;
  height: 64vw;
  max-height: 335px;
  background-image: url("../img/header-bac.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.page-header__img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-35%);
          transform: translateX(-35%);
  width: 70%;
  margin: 0 auto;
}

.page-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: Copperplate, sans-serif;
}

.page-header__inner .logo {
  display: none;
  max-width: 340px;
  margin-top: 40px;
}

.page-header__inner .logo-img {
  padding-bottom: 5px;
}

.page-header__inner .logo-img img {
  max-height: 80px;
}

.main-nav {
  margin-right: -12px;
}

.btn-nav {
  height: 35px;
  min-width: 163px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-weight: 500;
  background-color: transparent;
  color: #000000;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: transparent;
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  background-color: #dedddd;
  border: none;
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #dedddd;
  border: none;
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  right: 5px;
  width: 40px;
  height: 30px;
  color: #000000;
  cursor: pointer;
  z-index: 100;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 5px;
  top: 12px;
  right: 0px;
  background-color: #000000;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  width: 40px;
  top: 12px;
}

.menu__btn > span::after {
  content: "";
  width: 40px;
  top: -12px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 140px 5% 80px 0;
  list-style: none;
  z-index: 99;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.04em;
  background: #fef9f6;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 0px 24px;
  color: #454545;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.04em;
  text-decoration: none;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__item:hover {
  color: #f4b393;
}

.main-nav__item--active > .main-nav__link {
  color: #000000;
}

.sticky .main-nav__link {
  color: #000000;
}

.logo {
  display: block;
}

.logo__link {
  white-space: nowrap;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}

.logo__caption {
  max-width: 310px;
}

.intro {
  padding-top: 30px;
}

.intro__title {
  width: 100%;
  font-size: 50px;
  line-height: 63px;
  text-align: center;
  font-family: "BebasNeueBold";
  text-transform: uppercase;
}

.intro__subtitle {
  max-width: 305px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  line-height: 1.2;
  font-weight: 500;
  font-family: "HelveticaNeueCyr-Roman";
  color: black;
}

.intro__prise {
  margin: 20px 0;
  font-family: "BebasNeue-Regular";
}

.intro__prise-inner {
  font-size: 22px;
  text-align: center;
  background-image: url("../img/prise-bac.png");
  background-repeat: no-repeat;
  background-position: center;
}

.intro__prise--num {
  font-size: 46px;
  font-family: "BebasNeue-Regular";
}

.text--orange {
  min-width: 100%;
  color: #ffb380;
}

.text--grey {
  text-decoration: line-through;
  color: #dcdcdc;
}

.intro-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.be {
  padding: 40px 0;
  margin-top: 50px;
  background-color: #fef9f6;
}

.be__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fef9f6;
}

.be__item-title {
  padding-top: 15px;
}

.be__item-caption {
  max-width: 70%;
  margin: 0 auto;
  line-height: 20px;
  font-size: 14px;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-weight: 300;
  padding-top: 7px;
}

.be__item-img {
  height: 60px;
}

.be__item-img__img {
  max-height: 60px;
  color: #e88a5f;
}

.be .be__item {
  background-color: #fef9f6;
}

.reviews .be-wrapp {
  width: 100%;
  height: 100%;
}

.be .swiper-container {
  overflow: inherit;
}

.sneakers .swiper-container {
  overflow: inherit;
}

.extra-swiper {
  min-height: 150px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-slider__arrow {
  background: #e19f83;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 12;
  cursor: pointer;
  outline: none !important;
  border-radius: 50%;
  position: absolute;
  z-index: 12;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -webkit-transition: background 500ms ease;
  transition: background 500ms ease;
}

.main-slider-next {
  top: 50%;
  right: -35px;
}

.main-slider-prev {
  top: 50%;
  left: 5px;
}

.main-slider-next--1 {
  top: 50%;
  right: -25px;
}

.main-slider-prev--1 {
  top: 50%;
  left: 15px;
}

.main-slider-next--2 {
  top: 50%;
  right: -10px;
}

.main-slider-prev--2 {
  top: 50%;
  left: 30px;
}

.main-slider-prev-icon {
  margin-top: 10px;
  display: inline-block;
}

.main-slider-next-icon {
  margin-top: 10px;
  display: inline-block;
}

.reviews-wrapp {
  width: 170px;
}

.reviews .swiper-container {
  bottom: 21px;
}

.main-slider__arrow:focus {
  outline: none !important;
}

.reviews .reviews-wrapp .swiper-pagination {
  bottom: -20px;
}

.swiper-pagination {
  left: 48%;
  bottom: 25px;
}

.swiper-pagination .swiper-pagination-bullet {
  margin-right: 2px;
}

.subscribe {
  margin: 40px 0;
}

.subscribe-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__title {
  width: 60%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  line-height: 20px;
}

.subscribe__subtitle {
  width: 60%;
  font-size: 15px;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  padding-top: 20px;
}

.sneakers-content {
  margin-top: 10px;
}

.sneakers__title {
  font-size: 19px;
  padding: 15px 0;
}

.sneakers__text p {
  font-size: 14px;
  line-height: 16px;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  padding-bottom: 20px;
}

.size__title {
  font-size: 14px;
  line-height: 16px;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  color: #dcdcdc;
  padding-bottom: 15px;
}

.size__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0;
}

.size__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38px;
  height: 38px;
  margin-right: 8px;
  background-color: #faf6f0;
  border: 1px solid #f0dccf;
  border-radius: 2px;
}

.size__item-caption {
  font-size: 15px;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
}

.size-prise-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 35px;
  padding-bottom: 30px;
  font-size: 22px;
  font-family: "BebasNeue-Regular";
}

.size-prise__stock {
  font-size: 21px;
  font-family: "BebasNeue-Light", sans-serif;
  padding: 5px;
  margin-right: 10px;
  border-radius: 30px;
  color: #ea9a78;
  background-color: #fff;
}

.size-prise .size__prise--num {
  font-size: 46px;
  line-height: 46px;
  margin-right: 5px;
}

.gallery-top img {
  width: 94%;
}

@media (max-width: 350px) {
  .gallery-top img {
    width: 92%;
  }
}

.extra {
  margin-top: 50px;
}

.extra__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.extra__img {
  position: relative;
}

.extra-stock {
  position: absolute;
  top: 20px;
  right: 20px;
}

.extra-stock__text {
  font-size: 13px;
  font-family: "BebasNeue-Book", sans-serif;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  background-color: #e7875c;
}

.extra-card__caption {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 20px 15px 25px 25px;
}

.extra-card__title {
  text-align: left;
  color: black;
  font-size: 13px;
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
}

.extra-card-stock {
  padding-left: 10%;
  font-size: 9px;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
}

.extra-card__sub-title {
  text-align: left;
  font-size: 12px;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  color: #dcdcdc;
  padding-top: 5px;
}

@media (max-width: 340px) {
  .extra__img {
    width: 110%;
    position: relative;
  }
  .extra-card__sub-title {
    padding-top: 2px;
  }
}

.part {
  background-color: #e88a5f;
  padding-bottom: 70px;
}

.part-header__img {
  position: relative;
}

.part-header__img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #e88a5f;
  opacity: 0.1;
  z-index: 2;
}

.part__title {
  position: absolute;
  top: 0px;
  left: 10px;
  width: 230px;
  height: 30px;
  font-size: 42px;
  font-family: "BebasNeueBold", sans-serif;
  color: #fff;
  padding-top: 42px;
  z-index: 4;
}

.part__list {
  padding: 0;
  background-color: #ffffff;
  border-radius: 5px;
}

.part__item {
  padding: 30px 40px;
}

.part__item-title {
  font-size: 19px;
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  padding-bottom: 15px;
}

.part__item-caption {
  font-size: 15px;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  color: #454545;
}

.part--num {
  font-size: 11px;
  font-family: "HelveticaNeueCyr-Light", sans-serif;
}

@media (max-width: 450px) {
  .part-header__img {
    padding-top: 20px;
  }
}

@media (max-width: 350px) {
  .part-header__img {
    padding-top: 40px;
  }
}

.order-title {
  text-align: center;
}

.order__list {
  padding-bottom: 50px;
}

.order__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border-radius: 50%;
  background-image: linear-gradient(119deg, #febf94, #e68459);
  margin-bottom: 15px;
}

.order__img--img {
  width: 30px;
}

.order-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 75px;
  border: 1px soid #black;
  background-color: white;
  -webkit-box-shadow: 0px 8px 22.32px 1.68px rgba(219, 219, 219, 0.22);
          box-shadow: 0px 8px 22.32px 1.68px rgba(219, 219, 219, 0.22);
  border-radius: 10px;
}

.order-card__title {
  text-align: center;
  padding-bottom: 6px;
}

.order-card__sub-title {
  width: 80%;
  margin: 0 auto;
  font-size: 15px;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  text-align: center;
  padding-bottom: 30px;
}

.reviews {
  position: relative;
  height: 560px;
  margin: 30px 0;
  background-color: #fef9f6;
  background-image: url("../img/rev-bac.png");
  background-repeat: no-repeat;
}

.reviews::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/tel_rev.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.reviews__title {
  padding-top: 35px;
  padding-bottom: 70px;
  text-align: center;
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 180px;
}

.reviews__item--img {
  min-height: 372px;
  border-radius: 10px 10px 8px 8px;
}

.footer {
  max-height: 80px;
  padding: 20px 0;
  background-color: #f3f3f3;
}

.law-inner {
  text-align: center;
  color: #d2d2d2;
  font-size: 14px;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
}

.law-link {
  padding-top: 8px;
}

.law-link a {
  text-align: center;
  color: #959595;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 999;
}

.modal-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.modal-wrapp {
  position: relative;
  display: block;
  max-height: 360px;
  width: calc(100% - 40px);
  max-width: 380px;
  margin: 0 auto;
  z-index: 5;
  background-color: #fff;
}

.modal-content {
  padding: 35px 25px 10px 25px;
  max-width: 320px;
}

.modal-title {
  max-width: 350px;
  font-size: 18px;
  font-family: "HelveticaNeueCyr-Roman";
}

.modal-title--bold {
  font-size: 17px;
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
}

.modal-input {
  width: 326px;
  height: 50px;
  padding-left: 30px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
}

.modal-hidden {
  position: absolute;
  font-size: 20px;
  right: 20px;
  top: 15px;
  font-weight: bold;
  cursor: pointer;
}

.modal-subtitle {
  max-width: 245px;
  padding: 15px 0;
  font-size: 14px;
  font-family: "HelveticaNeueCyr-Roman";
  color: #aeaeae;
}

.modal-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 30px;
}

.icon-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  -webkit-box-shadow: 0px 4px 14.88px 1.12px rgba(234, 172, 134, 0.19);
          box-shadow: 0px 4px 14.88px 1.12px rgba(234, 172, 134, 0.19);
  cursor: pointer;
}

.icon-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

.modal-active {
  display: block;
}

.modal-title--grad {
  background-image: -webkit-gradient(linear, left top, right top, from(#f7c659), color-stop(37%, #f17630), to(#97139e));
  background-image: linear-gradient(to right, #f7c659, #f17630 37%, #97139e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
}

.blur {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.btn-main {
  position: relative;
  width: 262px;
  height: 73px;
  background-image: linear-gradient(-102deg, #febf94 0%, #e68459 100%);
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 30px 40px 0px rgba(254, 191, 148, 0.24);
          box-shadow: 0px 30px 40px 0px rgba(254, 191, 148, 0.24);
  z-index: 2;
}

.btn-main .btn__text {
  font-family: "HelveticaNeueCyr-Roman" sans-serif;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 0;
  color: #fff;
}

.modal-btn--shadow {
  border-radius: 10px;
}

.modal-btn--shadow::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0px;
  width: 262px;
  height: 73px;
  -webkit-box-shadow: 0px 3px 2px 0px #da7844;
          box-shadow: 0px 3px 2px 0px #da7844;
  border-radius: 10px;
}

.btn {
  color: #fff;
  background-color: transparent;
  border-radius: 10px;
}

.btn:focus {
  outline: none;
  border: none;
}

.btn__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn__body--img {
  width: 12px;
  margin-right: 5px;
  margin-top: 3px;
}

.btn__body__text {
  font-family: "HelveticaNeueCyr-Roman" sans-serif;
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 0;
  color: #fff;
}

.subscribe-btn {
  display: inline-block;
  width: 135px;
  height: 45px;
  margin-left: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#f7c659), color-stop(37%, #f17630), to(#97139e));
  background-image: linear-gradient(to right, #f7c659, #f17630 37%, #97139e);
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
}

.subscribe-btn .btn__text {
  text-align: le;
  font-size: 10px;
  font-family: "HelveticaNeueCyr-Medium" sans-serif;
}

.modal-btn {
  width: 245px;
  max-width: 100%;
  height: 70px;
  background-image: -webkit-gradient(linear, left top, right top, from(#f7c659), color-stop(37%, #f17630), to(#97139e));
  background-image: linear-gradient(to right, #f7c659, #f17630 37%, #97139e);
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 30px 40px 0px rgba(254, 191, 148, 0.24);
          box-shadow: 0px 30px 40px 0px rgba(254, 191, 148, 0.24);
}
/*# sourceMappingURL=style.css.map */