@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: local("Montserrat-ExtraBold"), url("../fonts/Montserrat-ExtraBold.ttf") format("ttf");
}

body {
  width: 100%;
  margin: 0;
  color: #000000;
  overflow-x: hidden;
}

main {
  margin: 0 auto;
}

h1 {
  font-size: 52px;
  line-height: 1.2;
  margin: 0;
}

h2 {
  font-size: 32px;
  margin: 0;
  font-family: "Montserrat-Bold", sans-serif;
}

h3 {
  font-size: 27px;
  line-height: 1.2;
  margin: 0;
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
}

h4 {
  margin: 0;
}

img {
  width: 100%;
}

a {
  margin: 0;
  text-decoration: none;
}

ul {
  margin: 0;
  list-style-type: none;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

.page__inner {
  margin: 0 auto;
}

.container {
  display: block;
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
}

.blur {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

@media (min-width: 992px) {
  .container {
    width: calc(100% - 40px);
    max-width: 1175px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 26px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 21px;
  }
}

.page-header {
  position: relative;
  outline: none;
}

.page-header__img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-35%);
          transform: translateX(-35%);
  width: 70%;
  margin: 0 auto;
  outline: none;
}

.page-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  outline: none;
}

.page-header__inner .logo {
  max-width: 340px;
  margin-top: 40px;
}

.page-header__inner .logo-img {
  padding-bottom: 5px;
}

.page-header__inner .logo-img img {
  max-height: 80px;
}

.main-nav {
  margin-right: -12px;
  outline: none;
}

.btn-nav {
  height: 35px;
  min-width: 163px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-weight: 500;
  background-color: transparent;
  outline: none;
}

#menu__toggle {
  opacity: 0;
  outline: none;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: transparent;
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  background-color: #dedddd;
  border: none;
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #dedddd;
  border: none;
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
  border: none;
  outline: none;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  right: 5px;
  top: 12px;
  width: 40px;
  height: 30px;
  color: #000000;
  cursor: pointer;
  z-index: 100;
  outline: none;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 5px;
  top: 12px;
  right: 0px;
  background-color: #000000;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  outline: none;
}

.menu__btn > span::before {
  content: "";
  width: 40px;
  top: 12px;
}

.menu__btn > span::after {
  content: "";
  width: 40px;
  top: -12px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 140px 5% 80px 0;
  list-style: none;
  z-index: 99;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.04em;
  border: none;
  outline: none;
  background: transparent;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 0px 24px;
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.04em;
  text-decoration: none;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  outline: none;
}

.menu__item:hover {
  color: #f3c619;
}

.main-nav__item--active > .main-nav__link {
  color: #000000;
}

.sticky .main-nav__link {
  color: #000000;
}

.logo {
  display: block;
}

.logo__link {
  white-space: nowrap;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  outline: none;
}

.logo__caption {
  max-width: 310px;
}

@media (min-width: 992px) {
  .main-nav {
    display: none;
  }
}

@media (max-width: 767px) {
  .page-header__inner {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 1px;
  }
  .logo {
    display: none;
  }
  .menu__btn {
    top: -3px;
  }
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  height: 410px;
  background-image: url("../img/men.png");
  background-position: right;
  background-size: 50%;
  background-repeat: no-repeat;
}

.intro-wrapp {
  width: 50%;
}

.intro__uptitle {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.806;
  font-size: 12px;
  color: #bbbbbb;
}

.intro__title {
  width: 100%;
  line-height: 1.257;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  padding-top: 10px;
}

.intro__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

.intro__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20.5%;
  padding: 20px;
  margin-right: 0%;
  border-radius: 7px;
  background-color: white;
  -webkit-box-shadow: -1px 0px 62.1px 6.9px rgba(85, 94, 134, 0.08);
          box-shadow: -1px 0px 62.1px 6.9px rgba(85, 94, 134, 0.08);
}

.intro__item:last-child {
  background-color: #ff0000;
}

.intro__item:last-child .intro-card__uptitle {
  color: #fff;
}

.intro__item:last-child .intro-card__title {
  color: #fff;
}

.intro__item:last-child .card__sub-title {
  color: #fff;
}

.intro__card {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-card__uptitle {
  font-size: 8.5px;
  font-family: "Montserrat-Medium", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: 1.2;
  margin-bottom: 10px;
}

.intro-card__title {
  font-size: 20px;
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: 1.2;
}

.intro-card__caption {
  margin-left: 25px;
}

.intro-card__sub-title {
  font-size: 8.5px;
  font-family: "Montserrat-Medium", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #9f9f9f;
  margin-top: 5px;
}

.intro__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__img--img {
  width: 40px;
  height: 40px;
}

.intro-menu {
  position: absolute;
  left: 56%;
  top: 150px;
  width: 125px;
}

.intro-menu__link {
  font-size: 10.5px;
  text-align: right;
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.intro-menu__item {
  text-align: right;
}

.intro-menu__item a:hover,
.intro-menu__item a:focus,
.intro-menu__item a:active {
  color: #f3c619;
}

.intro-button {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 1686px) {
  .intro-menu {
    left: 54%;
  }
}

@media (max-width: 1199px) {
  .intro__list {
    margin-top: 0;
  }
}

@media (max-width: 1100px) {
  .intro__item {
    width: 40%;
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .intro-wrapp {
    width: 410px;
  }
  .intro-menu {
    display: none;
  }
  .intro__inner {
    background-size: 60%;
    background-position: 100% 100%;
  }
  .lemon {
    width: 40px;
  }
}

@media (max-width: 767px) {
  .intro-wrapp {
    width: 360px;
  }
  .intro__inner {
    background-size: 430px;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .lemon {
    width: 30px;
    height: 40px;
  }
}

@media (max-width: 667px) {
  .intro__inner {
    background-size: 430px;
    padding-bottom: 60px;
  }
  .intro__item {
    width: 41%;
  }
}

@media (max-width: 539px) {
  .intro__inner {
    background-size: 400px;
    padding-bottom: 130px;
  }
  .intro__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  .intro__card {
    width: 230px;
  }
}

@media (max-width: 479px) {
  .intro__inner {
    background-size: 100%;
    padding-bottom: 32%;
  }
}

@media (max-width: 390px) {
  .intro__inner {
    background-size: 100%;
    padding-bottom: 29%;
  }
}

.course {
  background-image: url("../img/course-bac.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px 0;
}

.course__inner {
  background-image: url("../img/phone.png");
  background-position: 120% 10%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.course__title {
  color: #fff;
  padding-bottom: 20px;
}

.course__text p {
  word-spacing: 2px;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 13px;
  line-height: 1.543;
  color: #fff;
  margin-bottom: 20px;
}

.text__bold {
  font-family: "Montserrat-Bold", sans-serif;
}

.text__semibold {
  font-family: "Montserrat-SemiBold", sans-serif;
}

.course-wrapp {
  max-width: 510px;
  padding: 60px 0;
}

.orege {
  color: #ffc001;
}

.must {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.must__img--img {
  width: 85px;
  height: 85px;
}

.must__text {
  padding-left: 40px;
}

.must__title {
  max-width: 380px;
  padding-top: 30px;
  font-size: 17px;
  font-family: "Montserrat-Bold", sans-serif;
}

.must__subtitle {
  font-size: 12.5px;
  font-family: "Montserrat-Regular", sans-serif;
  margin: 10px 0;
}

.cash {
  max-width: 760px;
  text-align: center;
  margin: 0 auto;
}

.cash__text {
  padding: 80px 0;
}

.cash__title {
  color: #fff;
  font-family: "Montserrat-Bold", sans-serif;
  line-height: 1.639;
}

.cash__subtitle {
  max-width: 450px;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  font-size: 12px;
  font-family: "Montserrat-Regular", sans-serif;
  color: white;
  line-height: 1.639;
}

@media (min-width: 1100px) {
  .course__inner {
    background-image: url("../img/phone.png");
    background-position: 110% 10%;
    background-size: 45%;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1200px) {
  .must {
    padding-top: 2vw;
  }
}

@media (min-width: 1500px) {
  .must {
    padding-top: 5vw;
  }
}

@media (min-width: 1686px) {
  .must {
    padding-top: 8vw;
  }
  .cash__text {
    padding-top: 100px;
  }
}

@media (min-width: 1786px) {
  .must {
    padding-top: 9vw;
  }
}

@media (max-width: 767px) {
  .course-wrapp {
    padding-bottom: 0;
  }
  .course__inner {
    background-image: none;
  }
  .course-must {
    padding-top: 150px;
  }
}

@media (max-width: 579px) {
  .course-must {
    background-image: url("../img/phone.png");
    background-position: 50% 00%;
    background-size: 50%;
    background-repeat: no-repeat;
    padding-top: 220px;
  }
  .course__title {
    padding: 20px 0 20px 0;
  }
}

@media (max-width: 479px) {
  .course-must {
    background-image: url("../img/phone.png");
    background-position: 50% 00%;
    background-size: 70%;
    background-repeat: no-repeat;
    padding-top: 250px;
  }
  .must__text {
    padding-left: 10px;
  }
  .must__title {
    padding-top: 20px;
  }
  .must__img--img {
    width: 65px;
    height: 65px;
  }
}

@media (max-width: 379px) {
  .course-must {
    background-image: url("../img/phone.png");
    background-position: 50% 00%;
    background-size: 80%;
    background-repeat: no-repeat;
    padding-top: 250px;
  }
  .course__title {
    padding: 30px 0 10px 0;
  }
}

.training {
  padding: 30px 0;
  background-image: url("../img/training-fon.png");
  background-repeat: no-repeat;
  background-position: 0% 100%;
}

.training__title {
  text-align: center;
}

.training__subtitle {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 13px;
  line-height: 1.543;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 50px;
}

.training__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.training__card {
  min-height: 160px;
  padding: 20px;
  border-radius: 7px;
  background-color: white;
  -webkit-box-shadow: -1px 0px 62.1px 6.9px rgba(85, 94, 134, 0.08);
          box-shadow: -1px 0px 62.1px 6.9px rgba(85, 94, 134, 0.08);
}

.training__item:nth-child(1) {
  width: 31.5%;
  padding: 0 25px 25px 0;
}

.training__item:nth-child(2) {
  width: 31.5%;
  padding: 0 25px 25px 0;
}

.training__item:nth-child(2) .training-card__sub-title {
  width: 80%;
}

.training__item:nth-child(3) {
  width: 32%;
  padding: 0 0px 25px 0;
}

.training__item:nth-child(3) .training-card__sub-title {
  width: 80%;
}

.training__item:nth-child(4) {
  color: #fff;
  width: 48.8%;
  padding: 0 25px 25px 0;
}

.training__item:nth-child(5) {
  width: 48.5%;
  padding: 0 0px 25px 0;
}

.training__item:nth-child(4) .training__card {
  min-height: 90px;
  background-color: black;
}

.training__item:nth-child(4) .training-card__uptitle--num {
  color: black;
}

.training__item:nth-child(5) .training__card {
  min-height: 90px;
}

.training-card__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.training-card__uptitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7c70d;
  border-radius: 5px;
  width: 15px;
  height: 20px;
  margin-top: -30px;
  margin-bottom: 20px;
}

.training-card__uptitle--num {
  font-size: 14px;
  font-family: "Montserrat-Bold", sans-serif;
}

.training-card__title {
  max-width: 80%;
  text-align: center;
  font-size: 18px;
  line-height: 1.3;
  font-family: "Montserrat-Bold", sans-serif;
  margin-bottom: 15px;
}

.training-card__sub-title {
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  font-family: "Montserrat-Regular", sans-serif;
}

.training-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}

.training-img--img {
  max-width: 600px;
  border-radius: 10px;
}

@media (max-width: 1099px) {
  .training__item:nth-child(1) {
    width: 31.5%;
    padding: 0 20px 20px 0;
  }
  .training__item:nth-child(2) {
    width: 31.5%;
    padding: 0 20px 20px 0;
  }
  .training__item:nth-child(3) {
    width: 32%;
    padding: 0 0px 20px 0;
  }
  .training__item:nth-child(4) {
    width: 48.8%;
    padding: 0 20px 20px 0;
  }
  .training__item:nth-child(5) {
    width: 48.5%;
    padding: 0 0px 20px 0;
  }
}

@media (max-width: 991px) {
  .training__item:nth-child(4) .training__card {
    min-height: 140px;
  }
  .training__item:nth-child(5) .training__card {
    min-height: 140px;
  }
}

@media (max-width: 881px) {
  .training__card {
    min-height: 100px;
  }
  .training__item:nth-child(1) {
    width: 100%;
    padding: 0 0px 25px 0;
  }
  .training__item:nth-child(2) {
    width: 100%;
    padding: 0 0px 25px 0;
  }
  .training__item:nth-child(3) {
    width: 100%;
    padding: 0 0px 25px 0;
  }
  .training__item:nth-child(4) {
    width: 100%;
    padding: 0 0px 25px 0;
  }
  .training__item:nth-child(5) {
    width: 100%;
    padding: 0 0px 25px 0;
  }
  .training__item:nth-child(4) .training__card {
    min-height: 100px;
  }
  .training__item:nth-child(5) .training__card {
    min-height: 100px;
  }
}

.prise {
  position: relative;
}

.prise-bac__img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  height: 100%;
}

.prise__title {
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
}

.prise__subtitle {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 13px;
  line-height: 1.543;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 50px;
}

.prise__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.prise__item {
  margin: 0 60px;
}

.prise__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prise__card-main__img {
  width: 450px;
  max-width: 450px;
  -webkit-box-shadow: -1px 0px 62.1px 6.9px rgba(0, 0, 0, 0.06);
          box-shadow: -1px 0px 62.1px 6.9px rgba(0, 0, 0, 0.06);
}

.prise-card {
  max-width: 400px;
}

.prise-card__caption {
  max-width: 390px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 65px;
}

.prise-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 40px;
}

.prise-card__title {
  position: relative;
  height: 26px;
  font-size: 18px;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.prise-card__title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 2px;
  width: 90px;
  background-color: #edda0c;
}

.prise-card__img {
  margin-right: 40px;
}

.prise-card__img--img {
  width: 60px;
  height: 60px;
}

.prise-card__sub-title p {
  max-width: 80%;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 10px;
  line-height: 1.543;
  text-align: left;
  margin: 15px 0;
}

.prise-card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.prise-card__prise {
  font-weight: 700;
  font-size: 34px;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
}

.prise-card__prise--sell {
  font-size: 22px;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  text-decoration: line-through;
  color: #ff0000;
}

.rub {
  width: 23px;
  height: 23px;
}

@media (min-width: 992px) {
  .main-nav {
    display: none;
  }
}

@media (max-width: 1199px) {
  .prise__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .prise__item {
    margin: 0;
  }
}

@media (max-width: 507px) {
  .prise__card-main__img {
    width: auto;
  }
  .prise-card__caption {
    padding-left: 35px;
    padding-right: 15px;
  }
}

@media (max-width: 449px) {
  .prise__card-main__img {
    max-width: 390px;
  }
  .prise-card__prise {
    font-size: 22px;
  }
  .prise-card__prise--sell {
    font-size: 14px;
  }
  .prise-card__footer {
    padding-right: 30px;
  }
  .prise__item {
    margin-bottom: 40px;
  }
  .rub {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 420px) {
  .prise__card-main__img {
    max-width: 350px;
  }
  .prise-card__footer {
    padding-right: 40px;
  }
  .prise-card__header {
    padding-top: 20px;
  }
}

@media (max-width: 350px) {
  .prise__card-main__img {
    max-width: 310px;
  }
  .prise-card__footer {
    padding-right: 40px;
  }
  .prise-card__header {
    padding-top: 0px;
  }
  .prise-card__img--img {
    width: 40px;
    height: 40px;
  }
  .prise-card__title {
    padding-bottom: 10px;
  }
}

.left {
  margin-top: 100px;
  background-image: url("../img/left-bec.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.left__inner {
  background-image: url("../img/left-text.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding-top: 1px;
}

.left__subtitle {
  text-align: center;
  padding: 0 0 60px 0;
  margin-top: -60px;
}

.left__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -40px;
}

.left__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 85px;
  height: 80px;
  margin-right: 7px;
  background-color: #ff0000;
  border-radius: 8px;
}

.left__img {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left__img--img {
  width: 120px;
  height: 120px;
}

.left__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0 80px 0;
  font-family: "Montserrat-Bold", sans-serif;
  color: #fff;
}

.left__title-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
}

.left__title-img--img {
  width: 40px;
  height: 40px;
}

.left-card__num {
  font-size: 44px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #fff;
}

.left-card__text {
  font-size: 12px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #fff;
}

.left-content__title {
  text-align: center;
  font-size: 10px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #fff;
  padding-bottom: 20px;
}

.left-content__text {
  max-width: 500px;
  text-align: center;
  font-size: 10.5px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #fff;
  margin: 0 auto;
}

.question {
  padding: 80px 0;
}

.question__title {
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  padding-bottom: 60px;
}

.question__list {
  padding: 0;
}

.question__item {
  width: 100%;
  max-width: 665px;
  border-radius: 5px;
  background-color: #fcf9f9;
  margin: 0 auto;
  margin-bottom: 10px;
}

.question-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.question-title {
  line-height: 2.5;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 15px;
}

.question-title:hover {
  background-color: #000000;
  color: #fff;
  padding: 0 10px;
}

.question-title:hover .question-content__text {
  display: block;
  background-color: black;
}

.question-content {
  background-color: #000000;
  border-radius: 5px;
}

.question-content__title {
  line-height: 4;
  text-align: center;
  font-size: 15px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #fff;
}

.question-content__text {
  display: none;
  line-height: 1.6;
  text-align: center;
  font-size: 11px;
  font-family: "Montserrat-Medium", sans-serif;
  color: #fff;
}

.active .question-content__text {
  padding-bottom: 20px;
}

.footer {
  background-color: #000000;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 0 40px 0;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-menu__link {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 10px;
  line-height: 3;
  color: #fff;
}

.footer-menu__link:hover,
.footer-menu__link:focus,
.footer-menu__link:active {
  color: #f3c619;
}

.footer-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.support {
  text-align: right;
  color: #fff;
}

.support__email {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 10px;
  color: #fff;
}

.footer-email {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 10px;
  color: #fff;
}

.support-cop {
  line-height: 2.5;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 8.5px;
  color: #474a4f;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.654);
}

.modal-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.modal-wrapp {
  position: relative;
  display: block;
  width: calc(100% - 40px);
  max-width: 480px;
  max-height: 540px;
  margin: 0 auto;
  z-index: 5;
  background-color: #fff;
}

.modal-content {
  position: relative;
  padding: 0 40px;
}

.modal-content__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -32px;
}

.modal-content__img--img {
  width: 65px;
  height: 65px;
}

.modal-uptitle {
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 12px;
}

.modal-title {
  padding: 5px 0 15px 0;
  text-align: center;
  font-family: "Montserrat-ExtraBold", sans-serif;
  font-size: 21px;
}

.modal-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input {
  width: 100%;
  max-width: 200px;
  background-color: #f2fbfb;
  color: #b7baba;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 12px;
  line-height: 3;
  border-radius: 6px;
  outline: none;
  border: none;
}

.modal-checkbox {
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 7px;
}

.email_input {
  margin-right: 10px;
}

.modal-text {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 11px;
}

.modal-text_2 {
  margin: 20px 0;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 11px;
}

.modal-text__title {
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 7px;
  text-transform: uppercase;
}

.text-bold {
  font-family: "Montserrat-Bold", sans-serif;
}

.modal-bank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f2fbfb;
}

.modal__item {
  width: 33%;
}

.modal-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 5px 5px 5px;
}

.modal-card__img {
  padding-right: 5px;
}

.modal-card__img--img {
  width: 30px;
  height: 30px;
}

.modal-card__text {
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 8.5px;
}

.modal-card__title {
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 8.5px;
  padding-bottom: 8px;
}

.modal-bank__title {
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 15px;
}

.modal-btn_wrapp {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-email {
  width: 135px;
  height: 35px;
  background-color: #f7c70d;
  padding: 0;
  outline: none;
  border: none;
}

.btn-email .btn__body {
  padding: 0;
}

.btn-email .btn__body .btn__text {
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 11px;
}

.modal-hard {
  padding-top: 15px;
  padding-bottom: 5px;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 8px;
  color: #c2c2c2;
}

.modal-hidden {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 20px;
  right: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 20px;
  font-size: 32px;
  cursor: pointer;
  border: 1px solid transparent;
}

.modal-hidden:hover,
.modal-hidden:focus,
.modal-hidden:active {
  border: 1px solid #b7baba;
}

.modal-active {
  display: block;
}

@media (max-width: 479px) {
  .modal-content {
    padding: 0 20px;
  }
  .modal-input {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .input {
    margin-bottom: 10px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    min-width: 150px;
  }
  .modal__item {
    width: 49%;
  }
  .modal-wrapp {
    max-height: 710px;
  }
  .modal-bank__title {
    font-size: 12px;
  }
}

@media (max-width: 389px) {
  .modal__item {
    width: 100%;
  }
  .modal-card {
    padding: 8px 5px;
  }
  .modal-text_2 {
    margin: 10px 0;
    font-size: 9px;
  }
  .modal-wrapp {
    max-height: 810px;
  }
  .modal-text {
    margin-top: 10px;
    margin-bottom: 7px;
  }
  .input {
    margin-bottom: 5px;
  }
  .modal-text {
    font-size: 9px;
  }
  .modal__item {
    width: 50%;
  }
}

.btn-main {
  position: relative;
  width: 215px;
  height: 40px;
  background-color: #f7c70d;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  -webkit-box-shadow: 0px 30px 22px -16px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 30px 22px -16px rgba(0, 0, 0, 0.24);
  z-index: 2;
}

.btn {
  color: #fff;
  cursor: pointer;
}

.btn:focus {
  outline: none;
  border: none;
  background-color: #f8d034;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  background-color: #f8d034;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:active {
  background-color: #f8d034;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 40px;
}

.btn__body .btn__text {
  font-family: "Montserrat-Bold", sans-serif;
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  color: black;
}

.btn__icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.btn__icon--img {
  display: block;
  max-width: 40px;
  width: 40px;
  height: 50px;
}

.prise-btn {
  height: 35px;
  width: 130px;
  border-radius: 5px;
}

.prise-btn .btn__body {
  padding-right: 0;
}
/*# sourceMappingURL=style.css.map */